

<hr>
 
  <h3>this is navbar</h3>
<a [routerLink]="['/home']" routerLinkActive="router-link-active" >home</a>|
<a [routerLink]="['/about']" routerLinkActive="router-link-active" >about</a>|
<a [routerLink]="['/contact']" routerLinkActive="router-link-active" >contact</a>|
<a [routerLink]="['/list']" routerLinkActive="router-link-active" >list</a>|
<a [routerLink]="['/form']" routerLinkActive="router-link-active" >form</a>|
<a [routerLink]="['/login']" routerLinkActive="router-link-active" >login</a>|
<a [routerLink]="['/logout']" routerLinkActive="router-link-active" >logout</a>
<hr>

<h6>this is body part</h6>
<hr>

