<h1>this is form</h1>
<div class="div">
  <form>
  id:<input type="text" name="id" [(ngModel)]="u.id"><br><br>
  name:<input type="text" name="name" [(ngModel)]="u.name"><br><br>
  gmail:<input type="text" name="gmail" [(ngModel)]="u.gmail"><br><br>
  <button *ngIf="actionType == 'new'" (click)="save()">save</button>
  <button *ngIf="actionType == 'update'" style="margin:10px" (click)="update()">Update</button>
  <button *ngIf="actionType == 'delete'" style="margin:10px" (click)="delete()">delete</button>
  </form>

</div>